.logoutbtn {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: rgb(197, 196, 196);
    border: none;
    background-color: white;
    transition: ease-in-out;
}
.add-product {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    color: rgb(197, 196, 196);
    border: none;
    background-color: white;
    transition: ease-in-out;
    background-color: rgb(59, 59, 211);
}