.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    
    padding: 0 40px 0 40px;
    border-bottom: 1px solid rgb(214, 214, 214);
   
}
.addoroduct__btn {
  
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
   
}

.name {
    color: rgb(197, 196, 196);
}

.logoutbtn:hover {
    background-color: rgb(74, 229, 250);
    color: white;
}
.allProducts {
    display: grid;
    grid-template-columns: repeat(4,1fr);
   gap: 20px;
   padding: 10px;
}
.products {
    border: 1px solid blue;
    margin-top: 10px;
    margin-left: 50px;
}
.productImage {
    width: 300px;
    height: 100px;
    background-color: rgb(248, 123, 123);
}
.description {
    padding: 0 10px 0 10px;
}
.searchBar {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.serachInput {
    width: 400px;
    height: 35px;
    border: none;
    outline: none;
    border: 1px solid rgb(59, 59, 252);
    border-radius: 30px;
    padding: 10px;
}